name: Linter

on:
  workflow_call:
    inputs:
      linter:
        description: "Enable lint"
        default: false
        type: boolean 
      python-version:
        description: "Set Python version"
        default: 3.11
        type: string
      language:
        description: "Set the language to be linted"
        type: string
        default: node 
      python-linter-enable:
        description: "Enable Python linter"
        default: false
        type: boolean
      tflint-version:
        description: "Enable Terraform linter"
        default: "v0.58.0"
        type: string

jobs:    
  python-linter:
    name: Python Linter
    if: ${{ inputs.linter && inputs.language == 'python' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
         
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }} 
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
          
      - name: Run Ruff Linter
        id: run-ruff-linter
        run: |
          ruff check --config github-pipeline-templates/.github/config/.ruff.toml --output-format=grouped . > lint_output.txt || true
          echo "## Lint Report" 
          cat lint_output.txt
          if grep -q "Found" lint_output.txt; then
            exit 1
          fi
      
      - name: Save Lint Results
        if: always() && inputs.linter && inputs.language == 'python'  
        run: |
          echo "## Lint Report" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat lint_output.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
  terraform-linter:
    name: Terraform Linter
    if: ${{ inputs.linter && inputs.language == 'terraform' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          ref: "${{ github.head_ref || github.ref }}"
      - uses: actions/cache@v4
        name: Cache plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: ${{ matrix.os }}-tflint-${{ hashFiles('.tflint.hcl') }}
      - name: Export secret as env
        if: ${{ env.secret != 'null' }}
        run: echo "$secret" | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> $GITHUB_ENV
        env: 
          secret: ${{ toJson(secrets) }}
      - name: Export vars as env
        if: ${{ env.var != 'null' }}
        env:
          var: ${{ toJson(vars) }}
        run: echo "$var" | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> $GITHUB_ENV
      - name: Replace ${env:VAR} in .tfvars with environment values
        run: |
          find . -name "*.tfvars" | while read file; do
            echo "Processing $file"
            # detect placeholders ${env:XYZ}
            grep -o '\${env:[^}]*}' "$file" | sort -u | while read match; do
              # extract variable name            
              varname=$(echo "$match" | sed -E 's/\$\{env:(.*)\}/\1/')
              value="${!varname}"
              if [ -z "$value" ]; then
                echo "⚠️  $varname is not set in environment. Skipping..."
                continue
              fi
              safe_value=$(printf '%s\n' "$value" | sed -e 's/[\/&]/\\&/g')
              sed -i "s|\${env:$varname}|$safe_value|g" "$file"
            done
          done
      - uses: terraform-linters/setup-tflint@v4
        name: Setup TFLint
        with:
          tflint_version: ${{ inputs.tflint-version }}
      - name: Init TFLint
        run: tflint --init
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run TFLint
        run: tflint -f compact          