name: Terraform Checks

on:
  workflow_call:
    inputs:
      terraform_version:
        required: true
        type: string
        default: 1.12.2

jobs:

  terraform_checks:
    name: Terraform Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          ref: "${{ github.head_ref || github.ref }}"
      - name: Restore .terraform directory
        uses: actions/download-artifact@v4
        with:
          name: terraform-cache
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: ${{ inputs.terraform_version }}

      # - name: Terraform Init
      #   id: init
      #   run: terraform init          
      - name: Terraform Format
        id: fmt
        run: terraform fmt -recursive -diff -write=true
        continue-on-error: true
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      # - name: Commit Terraform FMT Changes
      #   if: ${{ steps.fmt.outcome == 'success' }}      
      #   id: auto-commit-action
      #   uses: stefanzweifel/git-auto-commit-action@v6.0.1
      #   with:
      #     commit_message: "Auto-format Terraform files"
