name: Terraform Checks

on:
  workflow_call:
    inputs:
      terraform_version:
        required: true
        type: string
        default: 1.12.2
      working-directory:
        required: false
        type: string
        default: '.'

jobs:

  terraform_checks:
    name: Terraform Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          ref: "${{ github.head_ref || github.ref }}"
      - name: Download .terraform Artifact
        uses: actions/download-artifact@v4.3.0
        with:
          name: terraform-cache
          path: ${{ inputs.working-directory }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: ${{ inputs.terraform_version }}
      - name: Export secret as env
        if: ${{ secrets != null }}
        run: echo "$secret" | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> $GITHUB_ENV
        env:
          secret: ${{ toJson(secrets) }}

      - name: Export vars as env
        if: ${{ vars != null }}
        env:
          var: ${{ toJson(vars) }}
        run: echo "$var" | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> $GITHUB_ENV

      - name: Replace ${env:VAR} in .tfvars with environment values
        run: |
          find . -name "*.tfvars" | while read file; do
            echo "Processing $file"
            grep -o '\${env:[^}]*}' "$file" | sort -u | while read match; do
              varname=$(echo "$match" | sed -E 's/\$\{env:(.*)\}/\1/')
              value="${!varname}"
              if [ -z "$value" ]; then
                echo "⚠️  $varname is not set in environment. Skipping..."
                continue
              fi
              safe_value=$(printf '%s\n' "$value" | sed -e 's/[\/&]/\\&/g')
              sed -i "s|\${env:$varname}|$safe_value|g" "$file"
            done
          done    
      # - name: Terraform Init
      #   id: init
      #   run: terraform init          
      - name: Terraform Format
        id: fmt
        run: terraform fmt -recursive -diff -write=true
        continue-on-error: true
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      # - name: Commit Terraform FMT Changes
      #   if: ${{ steps.fmt.outcome == 'success' }}      
      #   id: auto-commit-action
      #   uses: stefanzweifel/git-auto-commit-action@v6.0.1
      #   with:
      #     commit_message: "Auto-format Terraform files"
